/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.container,
.containerInfo {
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.containerInfo {
    display: none;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
}

.trips,
.tripInfo {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
thead{
    color: #205e04;
}
.trips tr:nth-child(even),
.tripInfo tr:nth-child(even) {
    background-color: #f2f2f2;
}

.trips td,
.tripInfo td {
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
#noalert{
    visibility: hidden;
    /* display: block; */
    padding: 50px 0px;
    width: 50%;
    margin: auto;
    font-size: 1.5rem;
    border-radius: 10px;
    box-shadow: 2px  2px 10px rgba(0, 0, 0, 0.5);
    text-transform: capitalize;
    text-shadow: 
    -1px -1px 0 #252525 , 
     1px -1px 0 #252525 , 
    -1px  1px 0 #252525 , 
    1px  1px 0 #252525  ;

    color: #dc6f09;
}

/* Responsive styles */
@media (max-width: 600px) {
    .trips thead,
    .tripInfo thead {
        display: none;
    }

    .trips tr,
    .tripInfo tr {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    /* a{
        text-decoration: none;
        color: #fff;
    } */

    .trips td,
    .tripInfo td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        position: relative;
    }

    .trips td:last-child,
    .tripInfo td:last-child {
        border-bottom: 0;
    }

    .trips td::before,
    .tripInfo td::before {
        content: attr(data-label);
        flex-basis: 50%;
        text-align: left;
        font-weight: bold;
        padding-right: 10px;
        color: #205e04;
    }
}



